<a href="https://colab.research.google.com/github/Surya-teja-888/IPL-Dataset-Player-price-prediction/blob/master/Churn_Modelling_using_ANNipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
upload = files.upload()

Saving Churn_Modelling.csv to Churn_Modelling.csv

In [3]:
# Importing required libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn import metrics
import warnings
warnings.filterwarnings("ignore")

In [4]:
data =pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [5]:
# Preprocessing the data
data.columns = data.columns.str.lower()
data.head()

   rownumber  customerid   surname  ...  isactivemember estimatedsalary exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

Data Preprocessing

In [10]:
# We can remove "rownumber" and "customerid" from the data
data = data.loc[:,"creditscore":"exited"]
data.head()

   creditscore geography  gender  ...  isactivemember  estimatedsalary  exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [11]:
# We must check whether the data contains any null values or not
data.isnull().sum()

creditscore        0
geography          0
gender             0
age                0
tenure             0
balance            0
numofproducts      0
hascrcard          0
isactivemember     0
estimatedsalary    0
exited             0
dtype: int64

In [12]:
# We have no Null Values in the data
# We should encode the categorical features in the data
data["gender"] = data["gender"].replace("Female",1)
data["gender"] = data["gender"].replace("Male",2)

In [13]:
data["geography"].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [14]:
data["geography"] = data["geography"].replace("France",1)
data["geography"] = data["geography"].replace("Spain",2)
data["geography"] = data["geography"].replace("Germany",3)

In [15]:
# We encoded all the categorical features
data.head()

   creditscore  geography  gender  ...  isactivemember  estimatedsalary  exited
0          619          1       1  ...               1        101348.88       1
1          608          2       1  ...               1        112542.58       0
2          502          1       1  ...               0        113931.57       1
3          699          1       1  ...               0         93826.63       0
4          850          2       1  ...               1         79084.10       0

[5 rows x 11 columns]

In [17]:
x = data.loc[:,data.columns != "exited"]
y = data["exited"]
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler # For preproccesing the data
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 42)

In [18]:
# Standardizing the data
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

BUILDING ARTIFICIAL NEURAL NETWORK

In [27]:
x_train.shape

(7000, 10)

In [28]:
x_test.shape

(3000, 10)

In [29]:
# Building three layerd neural network
sequential = Sequential()
# Building the first layer of ANN
sequential.add(Dense(units = 11,activation = "relu",kernel_initializer = "he_uniform"))
# Building the second layer of ANN
sequential.add(Dense(units = 6,activation = "relu",kernel_initializer = "he_uniform"))
# Building the last layer of ANN
sequential.add(Dense(units = 1,activation = "sigmoid",kernel_initializer = "glorot_uniform"))
# Compiling the ANN
sequential.compile(optimizer = "Adam",loss = "binary_crossentropy",metrics = ["accuracy"])
# Fitting ANN to training dataset
model_fitting = sequential.fit(x_train,y_train,validation_split = 0.33,batch_size = 10,epochs = 100) # Batch is written to process the code in clearcut manner

Epoch 1/100
469/469 [==============================] - 2s 2ms/step - loss: 0.6193 - accuracy: 0.7170 - val_loss: 0.4887 - val_accuracy: 0.7893
Epoch 2/100
469/469 [==============================] - 1s 2ms/step - loss: 0.4656 - accuracy: 0.7927 - val_loss: 0.4509 - val_accuracy: 0.7984
Epoch 3/100
469/469 [==============================] - 1s 2ms/step - loss: 0.4263 - accuracy: 0.8098 - val_loss: 0.4351 - val_accuracy: 0.8178
Epoch 4/100
469/469 [==============================] - 1s 2ms/step - loss: 0.4263 - accuracy: 0.8148 - val_loss: 0.4261 - val_accuracy: 0.8157
Epoch 5/100
469/469 [==============================] - 1s 2ms/step - loss: 0.4091 - accuracy: 0.8275 - val_loss: 0.4198 - val_accuracy: 0.8196
Epoch 6/100
469/469 [==============================] - 1s 2ms/step - loss: 0.4025 - accuracy: 0.8203 - val_loss: 0.4129 - val_accuracy: 0.8183
Epoch 7/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3861 - accuracy: 0.8296 - val_loss: 0.4080 - val_accuracy: 0.8200
Epoch 8/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3699 - accuracy: 0.8370 - val_loss: 0.4018 - val_accuracy: 0.8200
Epoch 9/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3728 - accuracy: 0.8302 - val_loss: 0.3975 - val_accuracy: 0.8174
Epoch 10/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3602 - accuracy: 0.8360 - val_loss: 0.3933 - val_accuracy: 0.8196
Epoch 11/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3614 - accuracy: 0.8304 - val_loss: 0.3915 - val_accuracy: 0.8204
Epoch 12/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3603 - accuracy: 0.8379 - val_loss: 0.3888 - val_accuracy: 0.8209
Epoch 13/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3732 - accuracy: 0.8255 - val_loss: 0.3870 - val_accuracy: 0.8239
Epoch 14/100
469/469 [==============================] - 1s 1ms/step - loss: 0.3543 - accuracy: 0.8333 - val_loss: 0.3856 - val_accuracy: 0.8421
Epoch 15/100
469/469 [==============================] - 1s 1ms/step - loss: 0.3520 - accuracy: 0.8550 - val_loss: 0.3837 - val_accuracy: 0.8390
Epoch 16/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3516 - accuracy: 0.8590 - val_loss: 0.3820 - val_accuracy: 0.8447
Epoch 17/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3685 - accuracy: 0.8461 - val_loss: 0.3799 - val_accuracy: 0.8442
Epoch 18/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3556 - accuracy: 0.8557 - val_loss: 0.3792 - val_accuracy: 0.8442
Epoch 19/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3512 - accuracy: 0.8545 - val_loss: 0.3798 - val_accuracy: 0.8464
Epoch 20/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3505 - accuracy: 0.8561 - val_loss: 0.3796 - val_accuracy: 0.8468
Epoch 21/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3525 - accuracy: 0.8587 - val_loss: 0.3776 - val_accuracy: 0.8434
Epoch 22/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3468 - accuracy: 0.8530 - val_loss: 0.3761 - val_accuracy: 0.8451
Epoch 23/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3440 - accuracy: 0.8637 - val_loss: 0.3737 - val_accuracy: 0.8481
Epoch 24/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3485 - accuracy: 0.8561 - val_loss: 0.3747 - val_accuracy: 0.8473
Epoch 25/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3399 - accuracy: 0.8647 - val_loss: 0.3717 - val_accuracy: 0.8438
Epoch 26/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3458 - accuracy: 0.8566 - val_loss: 0.3724 - val_accuracy: 0.8442
Epoch 27/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3360 - accuracy: 0.8623 - val_loss: 0.3723 - val_accuracy: 0.8498
Epoch 28/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3515 - accuracy: 0.8559 - val_loss: 0.3703 - val_accuracy: 0.8477
Epoch 29/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3292 - accuracy: 0.8651 - val_loss: 0.3702 - val_accuracy: 0.8464
Epoch 30/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3484 - accuracy: 0.8569 - val_loss: 0.3699 - val_accuracy: 0.8486
Epoch 31/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3443 - accuracy: 0.8575 - val_loss: 0.3715 - val_accuracy: 0.8494
Epoch 32/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3443 - accuracy: 0.8559 - val_loss: 0.3718 - val_accuracy: 0.8503
Epoch 33/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3354 - accuracy: 0.8654 - val_loss: 0.3694 - val_accuracy: 0.8490
Epoch 34/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3386 - accuracy: 0.8579 - val_loss: 0.3679 - val_accuracy: 0.8486
Epoch 35/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3468 - accuracy: 0.8544 - val_loss: 0.3704 - val_accuracy: 0.8490
Epoch 36/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3250 - accuracy: 0.8649 - val_loss: 0.3680 - val_accuracy: 0.8486
Epoch 37/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3458 - accuracy: 0.8550 - val_loss: 0.3688 - val_accuracy: 0.8507
Epoch 38/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3263 - accuracy: 0.8660 - val_loss: 0.3661 - val_accuracy: 0.8503
Epoch 39/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3339 - accuracy: 0.8643 - val_loss: 0.3677 - val_accuracy: 0.8490
Epoch 40/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3289 - accuracy: 0.8671 - val_loss: 0.3655 - val_accuracy: 0.8486
Epoch 41/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3401 - accuracy: 0.8559 - val_loss: 0.3668 - val_accuracy: 0.8520
Epoch 42/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3311 - accuracy: 0.8636 - val_loss: 0.3659 - val_accuracy: 0.8464
Epoch 43/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3431 - accuracy: 0.8543 - val_loss: 0.3684 - val_accuracy: 0.8503
Epoch 44/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3354 - accuracy: 0.8599 - val_loss: 0.3642 - val_accuracy: 0.8503
Epoch 45/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3417 - accuracy: 0.8636 - val_loss: 0.3731 - val_accuracy: 0.8494
Epoch 46/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3295 - accuracy: 0.8643 - val_loss: 0.3646 - val_accuracy: 0.8498
Epoch 47/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3352 - accuracy: 0.8603 - val_loss: 0.3639 - val_accuracy: 0.8516
Epoch 48/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3319 - accuracy: 0.8594 - val_loss: 0.3687 - val_accuracy: 0.8516
Epoch 49/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3344 - accuracy: 0.8551 - val_loss: 0.3654 - val_accuracy: 0.8498
Epoch 50/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3045 - accuracy: 0.8769 - val_loss: 0.3666 - val_accuracy: 0.8503
Epoch 51/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3302 - accuracy: 0.8560 - val_loss: 0.3657 - val_accuracy: 0.8490
Epoch 52/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3230 - accuracy: 0.8658 - val_loss: 0.3652 - val_accuracy: 0.8503
Epoch 53/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3404 - accuracy: 0.8508 - val_loss: 0.3667 - val_accuracy: 0.8498
Epoch 54/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3382 - accuracy: 0.8594 - val_loss: 0.3626 - val_accuracy: 0.8503
Epoch 55/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3394 - accuracy: 0.8540 - val_loss: 0.3636 - val_accuracy: 0.8490
Epoch 56/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3238 - accuracy: 0.8667 - val_loss: 0.3632 - val_accuracy: 0.8503
Epoch 57/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3271 - accuracy: 0.8612 - val_loss: 0.3624 - val_accuracy: 0.8507
Epoch 58/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3253 - accuracy: 0.8637 - val_loss: 0.3618 - val_accuracy: 0.8516
Epoch 59/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3172 - accuracy: 0.8688 - val_loss: 0.3624 - val_accuracy: 0.8460
Epoch 60/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3313 - accuracy: 0.8555 - val_loss: 0.3634 - val_accuracy: 0.8451
Epoch 61/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3278 - accuracy: 0.8617 - val_loss: 0.3632 - val_accuracy: 0.8460
Epoch 62/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3228 - accuracy: 0.8666 - val_loss: 0.3637 - val_accuracy: 0.8468
Epoch 63/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3092 - accuracy: 0.8733 - val_loss: 0.3627 - val_accuracy: 0.8477
Epoch 64/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3245 - accuracy: 0.8602 - val_loss: 0.3637 - val_accuracy: 0.8486
Epoch 65/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3228 - accuracy: 0.8646 - val_loss: 0.3632 - val_accuracy: 0.8477
Epoch 66/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3175 - accuracy: 0.8667 - val_loss: 0.3649 - val_accuracy: 0.8438
Epoch 67/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3246 - accuracy: 0.8667 - val_loss: 0.3622 - val_accuracy: 0.8473
Epoch 68/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3364 - accuracy: 0.8598 - val_loss: 0.3631 - val_accuracy: 0.8468
Epoch 69/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3296 - accuracy: 0.8627 - val_loss: 0.3623 - val_accuracy: 0.8460
Epoch 70/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3172 - accuracy: 0.8667 - val_loss: 0.3658 - val_accuracy: 0.8464
Epoch 71/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3260 - accuracy: 0.8629 - val_loss: 0.3637 - val_accuracy: 0.8481
Epoch 72/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3235 - accuracy: 0.8646 - val_loss: 0.3614 - val_accuracy: 0.8490
Epoch 73/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3253 - accuracy: 0.8673 - val_loss: 0.3614 - val_accuracy: 0.8451
Epoch 74/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3253 - accuracy: 0.8618 - val_loss: 0.3613 - val_accuracy: 0.8468
Epoch 75/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3291 - accuracy: 0.8595 - val_loss: 0.3605 - val_accuracy: 0.8494
Epoch 76/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3389 - accuracy: 0.8566 - val_loss: 0.3625 - val_accuracy: 0.8425
Epoch 77/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3380 - accuracy: 0.8535 - val_loss: 0.3628 - val_accuracy: 0.8447
Epoch 78/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3403 - accuracy: 0.8553 - val_loss: 0.3606 - val_accuracy: 0.8464
Epoch 79/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3120 - accuracy: 0.8686 - val_loss: 0.3609 - val_accuracy: 0.8451
Epoch 80/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3185 - accuracy: 0.8687 - val_loss: 0.3631 - val_accuracy: 0.8498
Epoch 81/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3209 - accuracy: 0.8624 - val_loss: 0.3633 - val_accuracy: 0.8442
Epoch 82/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3166 - accuracy: 0.8697 - val_loss: 0.3668 - val_accuracy: 0.8468
Epoch 83/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3279 - accuracy: 0.8645 - val_loss: 0.3611 - val_accuracy: 0.8434
Epoch 84/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3185 - accuracy: 0.8635 - val_loss: 0.3626 - val_accuracy: 0.8490
Epoch 85/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3155 - accuracy: 0.8690 - val_loss: 0.3632 - val_accuracy: 0.8447
Epoch 86/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3239 - accuracy: 0.8684 - val_loss: 0.3618 - val_accuracy: 0.8438
Epoch 87/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3192 - accuracy: 0.8670 - val_loss: 0.3633 - val_accuracy: 0.8477
Epoch 88/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3170 - accuracy: 0.8679 - val_loss: 0.3607 - val_accuracy: 0.8468
Epoch 89/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3261 - accuracy: 0.8620 - val_loss: 0.3663 - val_accuracy: 0.8464
Epoch 90/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3194 - accuracy: 0.8628 - val_loss: 0.3621 - val_accuracy: 0.8468
Epoch 91/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3227 - accuracy: 0.8651 - val_loss: 0.3606 - val_accuracy: 0.8455
Epoch 92/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3212 - accuracy: 0.8628 - val_loss: 0.3607 - val_accuracy: 0.8468
Epoch 93/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3253 - accuracy: 0.8671 - val_loss: 0.3624 - val_accuracy: 0.8486
Epoch 94/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3221 - accuracy: 0.8679 - val_loss: 0.3641 - val_accuracy: 0.8460
Epoch 95/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3156 - accuracy: 0.8647 - val_loss: 0.3606 - val_accuracy: 0.8447
Epoch 96/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3129 - accuracy: 0.8717 - val_loss: 0.3619 - val_accuracy: 0.8438
Epoch 97/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3304 - accuracy: 0.8649 - val_loss: 0.3618 - val_accuracy: 0.8416
Epoch 98/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3237 - accuracy: 0.8659 - val_loss: 0.3637 - val_accuracy: 0.8464
Epoch 99/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3204 - accuracy: 0.8650 - val_loss: 0.3620 - val_accuracy: 0.8468
Epoch 100/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3096 - accuracy: 0.8742 - val_loss: 0.3619 - val_accuracy: 0.8412

In [33]:
y_pred = sequential.predict(x_test)
y_pred = (y_pred > 0.5)

In [34]:
# Confusion matrix
metrics.accuracy_score(y_test,y_pred)

0.86

In [35]:
metrics.confusion_matrix(y_test,y_pred)

array([[2281,  135],
       [ 285,  299]])