<a href="https://colab.research.google.com/github/Surya-teja-888/IPL-Dataset-Player-price-prediction/blob/master/Rain_Prediction_using_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files
upload = files.upload()

Saving Australia_rainfall.csv to Australia_rainfall.csv

In [3]:
# Importing required modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import keras
from keras import layers
from keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
import datetime
import warnings
warnings.filterwarnings("ignore")

Loading Data

In [4]:
data = pd.read_csv("Australia_rainfall.csv")
data.head()

         Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0  01-12-2008   Albury     13.4  ...     21.8         No            No
1  02-12-2008   Albury      7.4  ...     24.3         No            No
2  03-12-2008   Albury     12.9  ...     23.2         No            No
3  04-12-2008   Albury      9.2  ...     26.5         No            No
4  05-12-2008   Albury     17.5  ...     29.7         No            No

[5 rows x 23 columns]

Dealing with dates

In [6]:
data["Date"].dtype # Gives dates are object in type

dtype('O')

In [7]:
# taking categorical_columns from the data
categorical_columns = (data.dtypes == "object")
categorical_list = list(categorical_columns[categorical_columns].index)
print(categorical_list)

['Date', 'Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday', 'RainTomorrow']

In [8]:
# Replacing NaN values with mode()
for i in categorical_list:
    data[i].fillna(data[i].mode()[0],inplace = True)

In [9]:
# We replaced categorical columns with mode()
# Now it's time to replace Numerical columns with mean() of the Numerical columns
# taking numerical_data from the data
numerical_columns = (data.dtypes == "float64")
numerical_list = list(numerical_columns[numerical_columns].index)

In [10]:
# Replacing Numerical_columns with mean()
for i in numerical_list:
    data[i].fillna(data[i].mean(),inplace = True)

In [11]:
data.isnull().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

In [36]:
data["Date"] = pd.to_datetime(data["Date"])
data["month"] = data["Date"].dt.month
data["Year"] = data["Date"].dt.year
data["Day"] = data["Date"].dt.day

In [37]:
data["Date"].dtype

dtype('<M8[ns]')

In [38]:
data.head()

        Date Location  MinTemp  MaxTemp  ...  RainTomorrow  month  Year Day
0 2008-01-12   Albury     13.4     22.9  ...            No      1  2008  12
1 2008-02-12   Albury      7.4     25.1  ...            No      2  2008  12
2 2008-03-12   Albury     12.9     25.7  ...            No      3  2008  12
3 2008-04-12   Albury      9.2     28.0  ...            No      4  2008  12
4 2008-05-12   Albury     17.5     32.3  ...            No      5  2008  12

[5 rows x 26 columns]

In [39]:
new_data = data.drop("Date",axis = 1)

In [40]:
# Encoding categorical features
x_features = new_data.columns
categorical_features = ["Location","WindGustDir","WindDir9am","WindDir3pm","RainToday","RainTomorrow"]
encoded_data = pd.get_dummies(new_data[x_features],columns = categorical_features,drop_first = True)
encoded_data.head()

   MinTemp  MaxTemp  Rainfall  ...  WindDir3pm_WSW  RainToday_Yes  RainTomorrow_Yes
0     13.4     22.9       0.6  ...               0              0                 0
1      7.4     25.1       0.0  ...               1              0                 0
2     12.9     25.7       0.0  ...               1              0                 0
3      9.2     28.0       0.0  ...               0              0                 0
4     17.5     32.3       1.0  ...               0              0                 0

[5 rows x 114 columns]

In [41]:
encoded_data.shape

(145460, 114)

In [42]:
x_train.shape

(101822, 111)

In [43]:
x = encoded_data.loc[:,encoded_data.columns != "RainTomorrow_Yes"]
y = encoded_data["RainTomorrow_Yes"]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 42)

In [44]:
# Standardization
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [45]:
# Building the model
model = keras.Sequential([
                          layers.Dense(128,activation="relu",name="layer1"),
                          layers.Dense(128,activation="relu",name="layer2"),
                          layers.Dense(64,activation="relu",name="layer3"),
                          layers.Dense(1,activation="sigmoid",name="layer4"),
])

In [46]:
# Compiling the model
model.compile(optimizer="Adam",loss="binary_crossentropy",metrics=["accuracy"])

In [48]:
# Fitting the model
model.fit(x_train,y_train,batch_size=300,validation_split=0.3,epochs=100)

Epoch 1/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0122 - accuracy: 0.9959 - val_loss: 1.9805 - val_accuracy: 0.8177
Epoch 2/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0035 - accuracy: 0.9995 - val_loss: 2.0205 - val_accuracy: 0.8189
Epoch 3/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0026 - accuracy: 0.9996 - val_loss: 2.0526 - val_accuracy: 0.8187
Epoch 4/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0022 - accuracy: 0.9996 - val_loss: 2.0783 - val_accuracy: 0.8201
Epoch 5/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0021 - accuracy: 0.9996 - val_loss: 2.0934 - val_accuracy: 0.8190
Epoch 6/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0018 - accuracy: 0.9997 - val_loss: 2.1160 - val_accuracy: 0.8189
Epoch 7/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0018 - accuracy: 0.9997 - val_loss: 2.1338 - val_accuracy: 0.8192
Epoch 8/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0017 - accuracy: 0.9997 - val_loss: 2.1506 - val_accuracy: 0.8198
Epoch 9/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0016 - accuracy: 0.9997 - val_loss: 2.1776 - val_accuracy: 0.8199
Epoch 10/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0016 - accuracy: 0.9997 - val_loss: 2.1999 - val_accuracy: 0.8203
Epoch 11/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0015 - accuracy: 0.9997 - val_loss: 2.2065 - val_accuracy: 0.8194
Epoch 12/100
238/238 [==============================] - 1s 4ms/step - loss: 0.0016 - accuracy: 0.9996 - val_loss: 2.2315 - val_accuracy: 0.8187
Epoch 13/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0022 - accuracy: 0.9995 - val_loss: 2.2528 - val_accuracy: 0.8212
Epoch 14/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0027 - accuracy: 0.9993 - val_loss: 2.2611 - val_accuracy: 0.8192
Epoch 15/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0058 - accuracy: 0.9982 - val_loss: 2.2336 - val_accuracy: 0.8135
Epoch 16/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0452 - accuracy: 0.9851 - val_loss: 2.0627 - val_accuracy: 0.8102
Epoch 17/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0337 - accuracy: 0.9880 - val_loss: 2.0546 - val_accuracy: 0.8143
Epoch 18/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0127 - accuracy: 0.9956 - val_loss: 2.1736 - val_accuracy: 0.8206
Epoch 19/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0044 - accuracy: 0.9990 - val_loss: 2.1909 - val_accuracy: 0.8185
Epoch 20/100
238/238 [==============================] - 1s 4ms/step - loss: 0.0024 - accuracy: 0.9996 - val_loss: 2.2063 - val_accuracy: 0.8194
Epoch 21/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0017 - accuracy: 0.9996 - val_loss: 2.2462 - val_accuracy: 0.8202
Epoch 22/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0015 - accuracy: 0.9997 - val_loss: 2.2694 - val_accuracy: 0.8190
Epoch 23/100
238/238 [==============================] - 1s 4ms/step - loss: 0.0013 - accuracy: 0.9997 - val_loss: 2.2842 - val_accuracy: 0.8185
Epoch 24/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0013 - accuracy: 0.9997 - val_loss: 2.3411 - val_accuracy: 0.8214
Epoch 25/100
238/238 [==============================] - 1s 4ms/step - loss: 0.0012 - accuracy: 0.9997 - val_loss: 2.3421 - val_accuracy: 0.8194
Epoch 26/100
238/238 [==============================] - 1s 4ms/step - loss: 0.0012 - accuracy: 0.9996 - val_loss: 2.3821 - val_accuracy: 0.8209
Epoch 27/100
238/238 [==============================] - 1s 4ms/step - loss: 0.0014 - accuracy: 0.9996 - val_loss: 2.4072 - val_accuracy: 0.8215
Epoch 28/100
238/238 [==============================] - 1s 4ms/step - loss: 0.0038 - accuracy: 0.9988 - val_loss: 2.3753 - val_accuracy: 0.8190
Epoch 29/100
238/238 [==============================] - 1s 4ms/step - loss: 0.0595 - accuracy: 0.9830 - val_loss: 2.1030 - val_accuracy: 0.8135
Epoch 30/100
238/238 [==============================] - 1s 4ms/step - loss: 0.0506 - accuracy: 0.9840 - val_loss: 2.0893 - val_accuracy: 0.8165
Epoch 31/100
238/238 [==============================] - 1s 4ms/step - loss: 0.0145 - accuracy: 0.9951 - val_loss: 2.1234 - val_accuracy: 0.8174
Epoch 32/100
238/238 [==============================] - 1s 4ms/step - loss: 0.0050 - accuracy: 0.9988 - val_loss: 2.1982 - val_accuracy: 0.8212
Epoch 33/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0023 - accuracy: 0.9996 - val_loss: 2.2246 - val_accuracy: 0.8199
Epoch 34/100
238/238 [==============================] - 1s 4ms/step - loss: 0.0018 - accuracy: 0.9997 - val_loss: 2.2534 - val_accuracy: 0.8187
Epoch 35/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0012 - accuracy: 0.9998 - val_loss: 2.2859 - val_accuracy: 0.8200
Epoch 36/100
238/238 [==============================] - 1s 4ms/step - loss: 0.0011 - accuracy: 0.9998 - val_loss: 2.3165 - val_accuracy: 0.8205
Epoch 37/100
238/238 [==============================] - 1s 4ms/step - loss: 0.0011 - accuracy: 0.9998 - val_loss: 2.3250 - val_accuracy: 0.8181
Epoch 38/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0011 - accuracy: 0.9997 - val_loss: 2.3619 - val_accuracy: 0.8200
Epoch 39/100
238/238 [==============================] - 1s 4ms/step - loss: 0.0013 - accuracy: 0.9997 - val_loss: 2.3592 - val_accuracy: 0.8188
Epoch 40/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0020 - accuracy: 0.9995 - val_loss: 2.4021 - val_accuracy: 0.8201
Epoch 41/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0336 - accuracy: 0.9899 - val_loss: 2.1797 - val_accuracy: 0.8110
Epoch 42/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0539 - accuracy: 0.9831 - val_loss: 2.1616 - val_accuracy: 0.8183
Epoch 43/100
238/238 [==============================] - 1s 4ms/step - loss: 0.0155 - accuracy: 0.9946 - val_loss: 2.1976 - val_accuracy: 0.8159
Epoch 44/100
238/238 [==============================] - 1s 4ms/step - loss: 0.0051 - accuracy: 0.9987 - val_loss: 2.2480 - val_accuracy: 0.8161
Epoch 45/100
238/238 [==============================] - 1s 4ms/step - loss: 0.0022 - accuracy: 0.9996 - val_loss: 2.2828 - val_accuracy: 0.8190
Epoch 46/100
238/238 [==============================] - 1s 4ms/step - loss: 0.0014 - accuracy: 0.9998 - val_loss: 2.3321 - val_accuracy: 0.8202
Epoch 47/100
238/238 [==============================] - 1s 4ms/step - loss: 0.0010 - accuracy: 0.9999 - val_loss: 2.3484 - val_accuracy: 0.8189
Epoch 48/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0010 - accuracy: 0.9998 - val_loss: 2.3632 - val_accuracy: 0.8177
Epoch 49/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0011 - accuracy: 0.9998 - val_loss: 2.3962 - val_accuracy: 0.8194
Epoch 50/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0011 - accuracy: 0.9998 - val_loss: 2.4318 - val_accuracy: 0.8201
Epoch 51/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0012 - accuracy: 0.9997 - val_loss: 2.4426 - val_accuracy: 0.8196
Epoch 52/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0010 - accuracy: 0.9997 - val_loss: 2.4490 - val_accuracy: 0.8188
Epoch 53/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0012 - accuracy: 0.9997 - val_loss: 2.4688 - val_accuracy: 0.8169
Epoch 54/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0031 - accuracy: 0.9990 - val_loss: 2.4678 - val_accuracy: 0.8166
Epoch 55/100
238/238 [==============================] - 1s 4ms/step - loss: 0.0788 - accuracy: 0.9776 - val_loss: 2.2259 - val_accuracy: 0.8200
Epoch 56/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0340 - accuracy: 0.9886 - val_loss: 2.2030 - val_accuracy: 0.8156
Epoch 57/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0095 - accuracy: 0.9971 - val_loss: 2.2498 - val_accuracy: 0.8182
Epoch 58/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0032 - accuracy: 0.9993 - val_loss: 2.2963 - val_accuracy: 0.8176
Epoch 59/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0016 - accuracy: 0.9998 - val_loss: 2.3237 - val_accuracy: 0.8184
Epoch 60/100
238/238 [==============================] - 1s 4ms/step - loss: 0.0011 - accuracy: 0.9998 - val_loss: 2.3565 - val_accuracy: 0.8200
Epoch 61/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0011 - accuracy: 0.9998 - val_loss: 2.3955 - val_accuracy: 0.8204
Epoch 62/100
238/238 [==============================] - 1s 5ms/step - loss: 8.9465e-04 - accuracy: 0.9999 - val_loss: 2.4020 - val_accuracy: 0.8193
Epoch 63/100
238/238 [==============================] - 1s 4ms/step - loss: 8.4494e-04 - accuracy: 0.9998 - val_loss: 2.4216 - val_accuracy: 0.8188
Epoch 64/100
238/238 [==============================] - 1s 4ms/step - loss: 8.5588e-04 - accuracy: 0.9998 - val_loss: 2.4395 - val_accuracy: 0.8184
Epoch 65/100
238/238 [==============================] - 1s 5ms/step - loss: 8.0154e-04 - accuracy: 0.9998 - val_loss: 2.4542 - val_accuracy: 0.8185
Epoch 66/100
238/238 [==============================] - 1s 5ms/step - loss: 7.5752e-04 - accuracy: 0.9999 - val_loss: 2.4819 - val_accuracy: 0.8188
Epoch 67/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0011 - accuracy: 0.9997 - val_loss: 2.5039 - val_accuracy: 0.8185
Epoch 68/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0115 - accuracy: 0.9971 - val_loss: 2.5483 - val_accuracy: 0.8191
Epoch 69/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0796 - accuracy: 0.9768 - val_loss: 2.1635 - val_accuracy: 0.8099
Epoch 70/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0252 - accuracy: 0.9914 - val_loss: 2.2223 - val_accuracy: 0.8176
Epoch 71/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0089 - accuracy: 0.9975 - val_loss: 2.2821 - val_accuracy: 0.8179
Epoch 72/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0031 - accuracy: 0.9995 - val_loss: 2.2955 - val_accuracy: 0.8177
Epoch 73/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0014 - accuracy: 0.9999 - val_loss: 2.3474 - val_accuracy: 0.8185
Epoch 74/100
238/238 [==============================] - 1s 5ms/step - loss: 9.5742e-04 - accuracy: 0.9999 - val_loss: 2.3729 - val_accuracy: 0.8190
Epoch 75/100
238/238 [==============================] - 1s 5ms/step - loss: 8.6156e-04 - accuracy: 0.9999 - val_loss: 2.3849 - val_accuracy: 0.8175
Epoch 76/100
238/238 [==============================] - 1s 5ms/step - loss: 8.3737e-04 - accuracy: 0.9998 - val_loss: 2.4132 - val_accuracy: 0.8190
Epoch 77/100
238/238 [==============================] - 1s 5ms/step - loss: 7.6127e-04 - accuracy: 0.9999 - val_loss: 2.4476 - val_accuracy: 0.8197
Epoch 78/100
238/238 [==============================] - 1s 5ms/step - loss: 9.0074e-04 - accuracy: 0.9999 - val_loss: 2.4535 - val_accuracy: 0.8195
Epoch 79/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0011 - accuracy: 0.9997 - val_loss: 2.4633 - val_accuracy: 0.8176
Epoch 80/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0015 - accuracy: 0.9995 - val_loss: 2.4787 - val_accuracy: 0.8182
Epoch 81/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0012 - accuracy: 0.9996 - val_loss: 2.5357 - val_accuracy: 0.8206
Epoch 82/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0035 - accuracy: 0.9991 - val_loss: 2.6123 - val_accuracy: 0.8222
Epoch 83/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0702 - accuracy: 0.9789 - val_loss: 2.1789 - val_accuracy: 0.8096
Epoch 84/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0357 - accuracy: 0.9879 - val_loss: 2.2283 - val_accuracy: 0.8142
Epoch 85/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0099 - accuracy: 0.9968 - val_loss: 2.2755 - val_accuracy: 0.8187
Epoch 86/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0033 - accuracy: 0.9994 - val_loss: 2.3393 - val_accuracy: 0.8184
Epoch 87/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0014 - accuracy: 0.9998 - val_loss: 2.3768 - val_accuracy: 0.8200
Epoch 88/100
238/238 [==============================] - 1s 5ms/step - loss: 9.7345e-04 - accuracy: 0.9998 - val_loss: 2.4022 - val_accuracy: 0.8199
Epoch 89/100
238/238 [==============================] - 1s 5ms/step - loss: 8.3630e-04 - accuracy: 0.9999 - val_loss: 2.4115 - val_accuracy: 0.8200
Epoch 90/100
238/238 [==============================] - 1s 5ms/step - loss: 7.7082e-04 - accuracy: 0.9999 - val_loss: 2.4449 - val_accuracy: 0.8204
Epoch 91/100
238/238 [==============================] - 1s 5ms/step - loss: 7.1125e-04 - accuracy: 0.9999 - val_loss: 2.4735 - val_accuracy: 0.8206
Epoch 92/100
238/238 [==============================] - 1s 5ms/step - loss: 6.6071e-04 - accuracy: 0.9999 - val_loss: 2.4890 - val_accuracy: 0.8202
Epoch 93/100
238/238 [==============================] - 1s 5ms/step - loss: 6.3908e-04 - accuracy: 0.9999 - val_loss: 2.5067 - val_accuracy: 0.8204
Epoch 94/100
238/238 [==============================] - 1s 5ms/step - loss: 6.8367e-04 - accuracy: 0.9999 - val_loss: 2.5369 - val_accuracy: 0.8211
Epoch 95/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0016 - accuracy: 0.9996 - val_loss: 2.5503 - val_accuracy: 0.8191
Epoch 96/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0366 - accuracy: 0.9899 - val_loss: 2.3818 - val_accuracy: 0.8122
Epoch 97/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0597 - accuracy: 0.9814 - val_loss: 2.2597 - val_accuracy: 0.8194
Epoch 98/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0137 - accuracy: 0.9954 - val_loss: 2.2927 - val_accuracy: 0.8202
Epoch 99/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0037 - accuracy: 0.9992 - val_loss: 2.3471 - val_accuracy: 0.8189
Epoch 100/100
238/238 [==============================] - 1s 5ms/step - loss: 0.0015 - accuracy: 0.9998 - val_loss: 2.3820 - val_accuracy: 0.8201

In [49]:
y_pred = model.predict(x_test)
y_pred

array([[1.0000000e+00],
       [1.6026959e-06],
       [9.9994642e-01],
       ...,
       [9.8499119e-01],
       [1.5681625e-13],
       [1.0000000e+00]], dtype=float32)

In [50]:
y_pred = y_pred > 0.5
y_pred

array([[ True],
       [False],
       [ True],
       ...,
       [ True],
       [False],
       [ True]])

In [51]:
metrics.accuracy_score(y_test,y_pred)

0.8211421238370228

In [52]:
metrics.roc_auc_score(y_test,y_pred)

0.727775830724796