<a href="https://colab.research.google.com/github/Surya-teja-888/IPL-Dataset-Player-price-prediction/blob/master/Stroke_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
upload = files.upload()

Saving stroke_detection.csv to stroke_detection.csv

In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
import keras
from keras.models import Sequential
from keras import layers
import warnings
warnings.filterwarnings("ignore")

In [3]:
data = pd.read_csv("stroke_detection.csv")
data.head()

      id  gender   age  ...   bmi   smoking_status stroke
0   9046    Male  67.0  ...  36.6  formerly smoked      1
1  51676  Female  61.0  ...   NaN     never smoked      1
2  31112    Male  80.0  ...  32.5     never smoked      1
3  60182  Female  49.0  ...  34.4           smokes      1
4   1665  Female  79.0  ...  24.0     never smoked      1

[5 rows x 12 columns]

Removing "id" from the data

In [4]:
data_1 = data.drop("id",axis = 1)
data_1.head()

   gender   age  hypertension  ...   bmi   smoking_status stroke
0    Male  67.0             0  ...  36.6  formerly smoked      1
1  Female  61.0             0  ...   NaN     never smoked      1
2    Male  80.0             0  ...  32.5     never smoked      1
3  Female  49.0             0  ...  34.4           smokes      1
4  Female  79.0             1  ...  24.0     never smoked      1

[5 rows x 11 columns]

Checking For NaN values

In [5]:
data.isnull().sum() # We have 201 NaN values in "bmi" column

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

Replacing NaN values

In [6]:
# Replacing NaN values with mean of the "bmi" column
data["bmi"].mean()

28.893236911794673

In [9]:
data_1["bmi"] = data_1.fillna(data["bmi"].mean()) # We replaced NaN values with mean of the "bmi" column

In [10]:
data_1.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

Now, Encoding Categorical Features

In [12]:
x_features = data_1.columns
encoded_data = pd.get_dummies(data_1[x_features],drop_first = True)
encoded_data

       age  hypertension  ...  smoking_status_never smoked  smoking_status_smokes
0     67.0             0  ...                            0                      0
1     61.0             0  ...                            1                      0
2     80.0             0  ...                            1                      0
3     49.0             0  ...                            0                      1
4     79.0             1  ...                            1                      0
...    ...           ...  ...                          ...                    ...
5105  80.0             1  ...                            1                      0
5106  81.0             0  ...                            1                      0
5107  35.0             0  ...                            1                      0
5108  51.0             0  ...                            0                      0
5109  44.0             0  ...                            0                      0

[5110 rows x 18 columns]

In [13]:
x = encoded_data.loc[:,encoded_data.columns != "smoking_status_smokes"]
y = encoded_data["smoking_status_smokes"]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 42)

Building Neural Network

In [14]:
x_train.shape

(3577, 17)

In [22]:
# Standardization of the data
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [18]:
model = keras.Sequential([
                          layers.Dense(32,activation = "relu",name = "layer1"),
                          layers.Dense(32,activation = "relu",name = "layer2"),
                          layers.Dense(1,activation = "sigmoid",name = "layer3"),
])

In [24]:
# Compiling the model
model.compile(optimizer="Adam",loss = "binary_crossentropy",metrics = ["accuracy"])
model.fit(x_train,y_train,validation_split = 0.3,batch_size = 100,epochs = 100)

Epoch 1/100
26/26 [==============================] - 1s 9ms/step - loss: 0.2199 - accuracy: 0.8695 - val_loss: 0.2168 - val_accuracy: 0.8613
Epoch 2/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2143 - accuracy: 0.8758 - val_loss: 0.2154 - val_accuracy: 0.8641
Epoch 3/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2271 - accuracy: 0.8692 - val_loss: 0.2166 - val_accuracy: 0.8529
Epoch 4/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2254 - accuracy: 0.8680 - val_loss: 0.2152 - val_accuracy: 0.8575
Epoch 5/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2239 - accuracy: 0.8648 - val_loss: 0.2169 - val_accuracy: 0.8585
Epoch 6/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2229 - accuracy: 0.8712 - val_loss: 0.2150 - val_accuracy: 0.8622
Epoch 7/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2158 - accuracy: 0.8631 - val_loss: 0.2142 - val_accuracy: 0.8613
Epoch 8/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2092 - accuracy: 0.8771 - val_loss: 0.2148 - val_accuracy: 0.8613
Epoch 9/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2198 - accuracy: 0.8683 - val_loss: 0.2147 - val_accuracy: 0.8622
Epoch 10/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2151 - accuracy: 0.8704 - val_loss: 0.2131 - val_accuracy: 0.8613
Epoch 11/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2135 - accuracy: 0.8731 - val_loss: 0.2157 - val_accuracy: 0.8594
Epoch 12/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2269 - accuracy: 0.8639 - val_loss: 0.2149 - val_accuracy: 0.8547
Epoch 13/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2309 - accuracy: 0.8635 - val_loss: 0.2158 - val_accuracy: 0.8529
Epoch 14/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2167 - accuracy: 0.8713 - val_loss: 0.2154 - val_accuracy: 0.8566
Epoch 15/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2219 - accuracy: 0.8616 - val_loss: 0.2144 - val_accuracy: 0.8622
Epoch 16/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2206 - accuracy: 0.8647 - val_loss: 0.2139 - val_accuracy: 0.8669
Epoch 17/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2147 - accuracy: 0.8789 - val_loss: 0.2151 - val_accuracy: 0.8603
Epoch 18/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2184 - accuracy: 0.8749 - val_loss: 0.2171 - val_accuracy: 0.8659
Epoch 19/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2121 - accuracy: 0.8802 - val_loss: 0.2146 - val_accuracy: 0.8622
Epoch 20/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2213 - accuracy: 0.8829 - val_loss: 0.2127 - val_accuracy: 0.8622
Epoch 21/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2127 - accuracy: 0.8801 - val_loss: 0.2142 - val_accuracy: 0.8641
Epoch 22/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2175 - accuracy: 0.8755 - val_loss: 0.2174 - val_accuracy: 0.8603
Epoch 23/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2113 - accuracy: 0.8757 - val_loss: 0.2201 - val_accuracy: 0.8575
Epoch 24/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2109 - accuracy: 0.8752 - val_loss: 0.2185 - val_accuracy: 0.8594
Epoch 25/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2105 - accuracy: 0.8791 - val_loss: 0.2170 - val_accuracy: 0.8613
Epoch 26/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2166 - accuracy: 0.8815 - val_loss: 0.2171 - val_accuracy: 0.8641
Epoch 27/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2147 - accuracy: 0.8814 - val_loss: 0.2164 - val_accuracy: 0.8622
Epoch 28/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2034 - accuracy: 0.8788 - val_loss: 0.2169 - val_accuracy: 0.8613
Epoch 29/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2103 - accuracy: 0.8805 - val_loss: 0.2184 - val_accuracy: 0.8603
Epoch 30/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2104 - accuracy: 0.8844 - val_loss: 0.2192 - val_accuracy: 0.8613
Epoch 31/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2129 - accuracy: 0.8741 - val_loss: 0.2194 - val_accuracy: 0.8585
Epoch 32/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2154 - accuracy: 0.8616 - val_loss: 0.2181 - val_accuracy: 0.8622
Epoch 33/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2102 - accuracy: 0.8842 - val_loss: 0.2191 - val_accuracy: 0.8575
Epoch 34/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2111 - accuracy: 0.8786 - val_loss: 0.2187 - val_accuracy: 0.8575
Epoch 35/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2163 - accuracy: 0.8756 - val_loss: 0.2169 - val_accuracy: 0.8585
Epoch 36/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2137 - accuracy: 0.8785 - val_loss: 0.2178 - val_accuracy: 0.8603
Epoch 37/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2111 - accuracy: 0.8809 - val_loss: 0.2192 - val_accuracy: 0.8603
Epoch 38/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2054 - accuracy: 0.8897 - val_loss: 0.2191 - val_accuracy: 0.8566
Epoch 39/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2177 - accuracy: 0.8714 - val_loss: 0.2190 - val_accuracy: 0.8613
Epoch 40/100
26/26 [==============================] - 0s 4ms/step - loss: 0.2139 - accuracy: 0.8791 - val_loss: 0.2193 - val_accuracy: 0.8641
Epoch 41/100
26/26 [==============================] - 0s 4ms/step - loss: 0.2005 - accuracy: 0.8878 - val_loss: 0.2179 - val_accuracy: 0.8613
Epoch 42/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2104 - accuracy: 0.8766 - val_loss: 0.2167 - val_accuracy: 0.8631
Epoch 43/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2049 - accuracy: 0.8815 - val_loss: 0.2161 - val_accuracy: 0.8650
Epoch 44/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2054 - accuracy: 0.8837 - val_loss: 0.2164 - val_accuracy: 0.8631
Epoch 45/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2075 - accuracy: 0.8873 - val_loss: 0.2178 - val_accuracy: 0.8603
Epoch 46/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2107 - accuracy: 0.8707 - val_loss: 0.2210 - val_accuracy: 0.8613
Epoch 47/100
26/26 [==============================] - 0s 3ms/step - loss: 0.1996 - accuracy: 0.8791 - val_loss: 0.2212 - val_accuracy: 0.8641
Epoch 48/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2103 - accuracy: 0.8804 - val_loss: 0.2218 - val_accuracy: 0.8622
Epoch 49/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2033 - accuracy: 0.8831 - val_loss: 0.2198 - val_accuracy: 0.8603
Epoch 50/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2085 - accuracy: 0.8844 - val_loss: 0.2197 - val_accuracy: 0.8631
Epoch 51/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2086 - accuracy: 0.8818 - val_loss: 0.2217 - val_accuracy: 0.8613
Epoch 52/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2208 - accuracy: 0.8720 - val_loss: 0.2199 - val_accuracy: 0.8641
Epoch 53/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2032 - accuracy: 0.8906 - val_loss: 0.2205 - val_accuracy: 0.8594
Epoch 54/100
26/26 [==============================] - 0s 3ms/step - loss: 0.1975 - accuracy: 0.8941 - val_loss: 0.2206 - val_accuracy: 0.8631
Epoch 55/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2074 - accuracy: 0.8868 - val_loss: 0.2228 - val_accuracy: 0.8594
Epoch 56/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2070 - accuracy: 0.8849 - val_loss: 0.2233 - val_accuracy: 0.8641
Epoch 57/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2157 - accuracy: 0.8869 - val_loss: 0.2218 - val_accuracy: 0.8659
Epoch 58/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2027 - accuracy: 0.8813 - val_loss: 0.2211 - val_accuracy: 0.8622
Epoch 59/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2075 - accuracy: 0.8864 - val_loss: 0.2207 - val_accuracy: 0.8585
Epoch 60/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2098 - accuracy: 0.8853 - val_loss: 0.2224 - val_accuracy: 0.8585
Epoch 61/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2022 - accuracy: 0.8900 - val_loss: 0.2225 - val_accuracy: 0.8650
Epoch 62/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2169 - accuracy: 0.8823 - val_loss: 0.2215 - val_accuracy: 0.8622
Epoch 63/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2064 - accuracy: 0.8842 - val_loss: 0.2226 - val_accuracy: 0.8631
Epoch 64/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2067 - accuracy: 0.8901 - val_loss: 0.2234 - val_accuracy: 0.8631
Epoch 65/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2114 - accuracy: 0.8781 - val_loss: 0.2237 - val_accuracy: 0.8650
Epoch 66/100
26/26 [==============================] - 0s 3ms/step - loss: 0.1913 - accuracy: 0.9014 - val_loss: 0.2250 - val_accuracy: 0.8622
Epoch 67/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2083 - accuracy: 0.8884 - val_loss: 0.2242 - val_accuracy: 0.8603
Epoch 68/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2053 - accuracy: 0.8873 - val_loss: 0.2218 - val_accuracy: 0.8631
Epoch 69/100
26/26 [==============================] - 0s 3ms/step - loss: 0.1953 - accuracy: 0.9001 - val_loss: 0.2243 - val_accuracy: 0.8594
Epoch 70/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2106 - accuracy: 0.8794 - val_loss: 0.2347 - val_accuracy: 0.8575
Epoch 71/100
26/26 [==============================] - 0s 4ms/step - loss: 0.2035 - accuracy: 0.8832 - val_loss: 0.2312 - val_accuracy: 0.8547
Epoch 72/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2124 - accuracy: 0.8762 - val_loss: 0.2271 - val_accuracy: 0.8557
Epoch 73/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2014 - accuracy: 0.8824 - val_loss: 0.2225 - val_accuracy: 0.8603
Epoch 74/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2083 - accuracy: 0.8824 - val_loss: 0.2227 - val_accuracy: 0.8557
Epoch 75/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2093 - accuracy: 0.8802 - val_loss: 0.2227 - val_accuracy: 0.8575
Epoch 76/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2003 - accuracy: 0.8936 - val_loss: 0.2227 - val_accuracy: 0.8631
Epoch 77/100
26/26 [==============================] - 0s 3ms/step - loss: 0.1968 - accuracy: 0.8980 - val_loss: 0.2228 - val_accuracy: 0.8631
Epoch 78/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2028 - accuracy: 0.8892 - val_loss: 0.2225 - val_accuracy: 0.8622
Epoch 79/100
26/26 [==============================] - 0s 3ms/step - loss: 0.1909 - accuracy: 0.8956 - val_loss: 0.2222 - val_accuracy: 0.8641
Epoch 80/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2024 - accuracy: 0.8886 - val_loss: 0.2245 - val_accuracy: 0.8613
Epoch 81/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2116 - accuracy: 0.8833 - val_loss: 0.2226 - val_accuracy: 0.8669
Epoch 82/100
26/26 [==============================] - 0s 4ms/step - loss: 0.1972 - accuracy: 0.8905 - val_loss: 0.2241 - val_accuracy: 0.8585
Epoch 83/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2009 - accuracy: 0.8916 - val_loss: 0.2229 - val_accuracy: 0.8594
Epoch 84/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2015 - accuracy: 0.8868 - val_loss: 0.2258 - val_accuracy: 0.8603
Epoch 85/100
26/26 [==============================] - 0s 3ms/step - loss: 0.1986 - accuracy: 0.8912 - val_loss: 0.2227 - val_accuracy: 0.8622
Epoch 86/100
26/26 [==============================] - 0s 3ms/step - loss: 0.1937 - accuracy: 0.8961 - val_loss: 0.2228 - val_accuracy: 0.8622
Epoch 87/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2064 - accuracy: 0.8850 - val_loss: 0.2241 - val_accuracy: 0.8706
Epoch 88/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2001 - accuracy: 0.8869 - val_loss: 0.2284 - val_accuracy: 0.8631
Epoch 89/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2084 - accuracy: 0.8830 - val_loss: 0.2273 - val_accuracy: 0.8585
Epoch 90/100
26/26 [==============================] - 0s 3ms/step - loss: 0.1996 - accuracy: 0.8875 - val_loss: 0.2290 - val_accuracy: 0.8613
Epoch 91/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2023 - accuracy: 0.8883 - val_loss: 0.2256 - val_accuracy: 0.8669
Epoch 92/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2057 - accuracy: 0.8888 - val_loss: 0.2243 - val_accuracy: 0.8696
Epoch 93/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2034 - accuracy: 0.8880 - val_loss: 0.2261 - val_accuracy: 0.8622
Epoch 94/100
26/26 [==============================] - 0s 4ms/step - loss: 0.1956 - accuracy: 0.8944 - val_loss: 0.2288 - val_accuracy: 0.8641
Epoch 95/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2020 - accuracy: 0.8907 - val_loss: 0.2271 - val_accuracy: 0.8659
Epoch 96/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2052 - accuracy: 0.8844 - val_loss: 0.2277 - val_accuracy: 0.8622
Epoch 97/100
26/26 [==============================] - 0s 3ms/step - loss: 0.1997 - accuracy: 0.8905 - val_loss: 0.2278 - val_accuracy: 0.8603
Epoch 98/100
26/26 [==============================] - 0s 3ms/step - loss: 0.1963 - accuracy: 0.8931 - val_loss: 0.2274 - val_accuracy: 0.8641
Epoch 99/100
26/26 [==============================] - 0s 3ms/step - loss: 0.1992 - accuracy: 0.9009 - val_loss: 0.2301 - val_accuracy: 0.8641
Epoch 100/100
26/26 [==============================] - 0s 3ms/step - loss: 0.2025 - accuracy: 0.8867 - val_loss: 0.2291 - val_accuracy: 0.8603

In [26]:
y_pred = model.predict(x_test)
y_pred.shape

(1533, 1)

In [29]:
y_pred = y_pred > 0.5

In [30]:
metrics.accuracy_score(y_test,y_pred)

0.8408349641226354